:root {
  --sl-nav-gap: 10px;

  --sl-color-text-accent: #253889;
  &[data-theme="dark"] {
    --sl-color-text-accent: white;
  }
}
.demo-title {
  text-decoration: none;
}
.demo-title:hover {
  text-decoration: underline;
}
